<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>


<header th:replace="~{fragments/headerBlog :: header}"></header>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
    
    <!-- Forgot Pasword Start -->
    <div class="container-fluid mt-0">
        <form 
            action="#"
            th:action="@{/forgot-password}"
            method="post"
            class="row h-100 align-content-center d-flex justify-content-center" 
            style="min-height: 100vh;"
        >
            <div class="col-12 d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Password</h1>
                <h1 class="position-absolute text-primary">Forgot Password</h1>
            </div>

            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <p class="text-center">Enter your email and we'll send you a link to reset your password</p>
                <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>

                
                <div class="bg-light rounded p-4 p-sm-0 my-0 mx-3">
                    
                    <div class="control-group mb-4">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email address">
                        
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <a href="/login">Back to Login</a>
                    </div>
                    <button type="submit" class="btn btn-outline-primary w-100 mb-4">Submit</button>
                    <p class="text-center mb-0">Don't have an Account? <a href="/register">Sign Up</a></p>
                </div>
            </div>
        </form>
    </div>
    <!-- Sign In End -->
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:src="@{/js/blog.js}"></script>